/* all.css */

:root {
    --main-color: #ff8400;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: -webkit-linear-gradient(0deg, rgb(40, 40, 40) 0%, rgb(60, 60, 60) 100%);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

header h1 {
    margin: 0;
    padding-bottom: 20px;
    color: #ffffff;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
}

nav h2 {
    margin: 0;
}

nav .topnav {
    display: flex;
    justify-content: space-around;
}

nav .topnav a {
    color: var(--main-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-style: bold;
    transition: background-color 0.5s, color 0.5s;
}

nav .topnav a:hover {
    background-color: var(--main-color);
    color: #444;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

main section {
    margin-bottom: 20px;
}

main section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

main section ul {
    list-style-type: none;
    padding: 0;
}

main section ul li {
    background-color: #e4e4e4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
}




pre {
    background-color: #f4f4f4;
    border: 1px solid #777777;
    padding: 10px 40px;
    overflow-x: auto;
    border-radius: 5px;
    transition: transform 0.5s;
}

pre:hover {
    transform: scale(1.05);
}


code {
    font-family: Consolas, "Courier New", monospace;
    color: #000000;
}

